
crispy-bootstrap5==0.6
crispy-tailwind==0.2.0
Django==3.2.9
django-allauth==0.47.0
django-allauth==0.47.0
django-cors-headers==3.10.1
django-countries==5.3.3
django-debug-toolbar==1.10.1
django-environ==0.4.5
django-filter==21.1
django-jsonfield==1.4.1
django-phone-field==1.8.1
django-phone-field==1.8.1
django-phonenumber-field==6.0.0
django-phonenumbers==1.0.1
django-rest-knox==4.1.0
django-rest-passwordreset==1.2.1
djangorestframework==3.13.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
stripe==2.27.0
drf-extra-fields==3.2.1
