{% extends 'base.html' %}

{% block content %}


<style>
    .helptext {
        color: #2b2b2b !important;
        display: block !important;
        font-size: 12.8px;
        list-style: none;
        display: block !important;

    }

    li {
        list-style-type: none;
    }

    input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
    
    textarea {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    select {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
</style>

<div class="container">
    <h1 class="font-weight-bold mb-4">Change Password</h1>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="cta-btn mt-2 cta-btn-primary" type="submit">Confirm New Password</button>
    </form>
</div>


{% endblock content %}