<section class="text-white"
    style="padding: 4.375rem 0px 3.125rem; background: linear-gradient(45deg, rgb(0, 164, 189), rgb(0, 189, 165));">
    <div class="container">
        <h2 class="font-weight-bold mb-4">Never Miss Ghar Ka Khana Even You Are Away From Home.</h2>
        <p style="font-weight: 500;">There are many restaurants apps that dish out every single cuisine at
            discount but Do they really can stand in front of simple homemade healthy food? Can we eat these
            unhealthy junk flavors everyday? Are they healthy and safe? Are they economical and make your life
            easy? The answer is NO, then you must take a wise decision today. at Lunch.pk, you get light-weight,
            healthy, homemade meals at your doorstep.</p>
        <p style="font-weight: 500;">Why not try our homemade food and enjoy our tasty and healthy homemade
            cuisines. We have customers from all walks of life. Doctors, Students, Working Women, Corporate, and
            Families enjoy our homemade food.</p>
        <p class="font-weight-bold my-4">Health and taste comes at a high price, but we promised to be
            affordable and fair</p>
    </div>
</section>
<section style="padding: 4.375rem 0px 3.125rem; background: rgb(245, 248, 250);">
    <div class="container">
        <h2 class="h1 text-center font-weight-bold mb-4">People are talking</h2>
        <div class="justify-content-center row">
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>Its been a week I am using their service and I have found them to be extremely
                            punctual, professional and accommodating towards their customers. The food tastes
                            great, just like homemade food, it's clean. Highly recommended!</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Muhammad Usman</h5>
                    </div>
                </div>
            </div>
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>I'm using their service since last 3 months and found them best at service and food
                            quality. All i needed was the quality and hygienic food, which mash Allah i found in
                            their food. So they are deserved to be appreciated. Love the service.</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Arsalan Ajmal</h5>
                    </div>
                </div>
            </div>
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>Just started availing their lunch service and found it up to my mark. The taste was
                            amazing, food sounded hygienic and was delivered on time. Keep it up</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Shahzeb Khan</h5>
                    </div>
                </div>
            </div>
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>I have subscribed to a custom monthly package. The food is tasty (mostly, I'm a bit
                            choosy). Their behavior and care for clients is really what I was sold at.
                            Especially people who are dealing with Lahore's section are really cool!</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Ahmed Awais</h5>
                    </div>
                </div>
            </div>
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>Ordered lunch for my staff today for the first time. Superb Khana and very hygienic
                            packing! Satisfied!!!!</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Huma Zarar</h5>
                    </div>
                </div>
            </div>
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>First experience with lunch.pk was good. The family cooked meals with specific
                            instructions for my elderly diabetic father. Second experience is not at par with
                            the first. Response from lunch.pk is slow and food delivered is low quality and very
                            expensive.</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Zahra Ambreen</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
