{% extends "lpk.html" %}
{% load static %}
{% block content %}

<main>
    <section id="main-showcase"
        style="background: url(https://www.lunch.pk/assets/img/hero-img-2.jpg) center center / cover; padding: 4rem 0px; color: rgb(255, 255, 255); position: relative;">
        <div class="overlay"
            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7);">
        </div>
        <div class="container">
            <div class="row">
                <div class="text-center text-md-left align-self-center col-lg-6">
                    <div class="showcase-content">
                        <h1 class="title mb-4" style="font-weight: 800; font-size: 260%;">Join Our Food Passionate
                            Family!</h1>
                        <div class="subtitle mb-4" style="font-size: 18px; line-height: 30px;">
                            <p>If food is your craft and you don’t settle with average taste. you are someone who cooks
                                from the heart. then you are in the right place, we are waiting for you to join our food
                                passionate family.<span class="d-block mt-3 font-weight-bold">No Investments, No
                                    Security Deposits, No Lengthy Procedures</span></p>
                        </div><a class="cta-btn cta-btn-primary cta-btn-lg see-menu-btn"
                            href="/make-money/apply-for-foodlancer">Apply Now</a><a
                            class="cta-btn cta-whatsapp cta-btn-dark cta-btn-lg" target="_self"
                            href="https://wa.me/923335189005?text=I\%27m%20interested%20in%20your%20food">WhatsApp
                            Now</a>
                    </div>
                </div>
                <div class="text-center col-lg-6">
                    <div class="d-none d-lg-block showcase-img">
                        <div
                            style="display: inline-block; max-width: 100%; overflow: hidden; position: relative; box-sizing: border-box; margin: 0px;">
                            <div style="box-sizing: border-box; display: block; max-width: 100%;"><img
                                    aria-hidden="true"
                                    style="max-width: 100%; display: block; margin: 0px; border: none; padding: 0px;">
                            </div>
                            <img alt="Join Our Food Passionate Family!"
                                src="https://www.lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fmake-money.webp&amp;w=640&amp;q=75">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center " style="padding: 4.375rem 0px 3.125rem; background: rgb(245, 248, 250);">
        <div class="container">
            <h2 class="font-weight-bold">Join Lunch.pk in <span class="text-color-primary">3 Simple Steps</span></h2>
            <div class="mt-5 row">
                <div class="mb-5 col-lg-4">
                    <div class="step-card bg-white mx-auto p-4 position-relative rounded"
                        style="width: 90%; height: 100%; box-shadow: rgba(51, 71, 91, 0.12) 0px 8px 30px -5px;">
                        <h2 class="font-weight-bold text-success" style="position: absolute; top: 8px; left: 20px;">1
                        </h2>
                        <div
                            style="display: inline-block; max-width: 100%; overflow: hidden; position: relative; box-sizing: border-box; margin: 0px;">
                            <div style="box-sizing: border-box; display: block; max-width: 100%;"><img
                                    aria-hidden="true"
                                    src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzAiIGhlaWdodD0iMTA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="
                                    style="max-width: 100%; display: block; margin: 0px; border: none; padding: 0px;">
                            </div><img alt="Fill The Form"
                                src="https://www.lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fform.svg&amp;w=96&amp;q=75"
                                decoding="async" data-nimg="intrinsic" class="mb-3"
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript>
                        </div>
                        <h5 class="mb-0" style="font-weight: 600;">Fill The Form</h5>
                        <p class="mt-2 mb-0" style="font-size: 14px; line-height: 20px;">Fill the form by clicking the
                            join us button below</p>
                    </div>
                </div>
                <div class="mb-5 col-lg-4">
                    <div class="step-card bg-white mx-auto p-4 position-relative rounded"
                        style="width: 90%; height: 100%; box-shadow: rgba(51, 71, 91, 0.12) 0px 8px 30px -5px;">
                        <h2 class="font-weight-bold text-success" style="position: absolute; top: 8px; left: 20px;">2
                        </h2>
                        <div
                            style="display: inline-block; max-width: 100%; overflow: hidden; position: relative; box-sizing: border-box; margin: 0px;">
                            <div style="box-sizing: border-box; display: block; max-width: 100%;"><img
                                    aria-hidden="true"
                                    src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzAiIGhlaWdodD0iMTA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg=="
                                    style="max-width: 100%; display: block; margin: 0px; border: none; padding: 0px;">
                            </div><img alt="Fill The Form"
                                src="https://www.lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fkitchen-pictures.svg&w=96&q=75"
                                decoding="async" data-nimg="intrinsic" class="mb-3"
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript>
                        </div>
                        <h5 class="mb-0" style="font-weight: 600;">Send your Kitchen Pics
                        </h5>
                        <p class="mt-2 mb-0" style="font-size: 14px; line-height: 20px;">Send us 3 pictures of your
                            kitchen on WhatsApp at +92 335 5517720
                        </p>
                    </div>
                </div>
                <div class="mb-5 col-lg-4">
                    <div class="step-card bg-white mx-auto p-4 position-relative rounded"
                        style="width:90%;height:100%;box-shadow:0 8px 30px -5px rgba(51,71,91,0.12)">
                        <h2 class="font-weight-bold text-success" style="position:absolute;top:8px;left:20px">3</h2>
                        <div
                            style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                            <div style="box-sizing:border-box;display:block;max-width:100%"><img
                                    style="max-width:100%;display:block;margin:0;border:none;padding:0" alt=""
                                    aria-hidden="true"
                                    src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzAiIGhlaWdodD0iMTA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==">
                            </div><img alt="Food Test"
                                src="https://www.lunch.pk/_next/image?url=%2Fassets%2Fimg%2Ffood-test.svg&amp;w=96&amp;q=75"
                                decoding="async" data-nimg="intrinsic" class="mb-3"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcset="https://lunch.pk/_next//image?url=%2Fassets%2Fimg%2Ffood-test.svg&amp;w=96&amp;q=75 1x, https://www.lunch.pk/_next/image?url=%2Fassets%2Fimg%2Ffood-test.svg&amp;w=96&amp;q=75 2x">
                            <img alt="Food Test"
                                src="https://www.lunch.pk/_next/image?url=%2Fassets%2Fimg%2Ffood-test.svg&amp;w=96&amp;q=75"
                                decoding="async" data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                class="mb-3" loading="lazy">
                        </div>
                        <h5 class="mb-0" style="font-weight:600">Food Test</h5>
                        <p style="font-size:14px;line-height:20px" class="mt-2 mb-0">Get your food tested by our food
                            reviewer near you</p>
                    </div>
                </div>
            </div>
            <a class="cta-btn cta-btn-primary" href="/make-money/apply-for-foodlancer">Join Us</a>
        </div>
    </section>
    <section class="text-white"
        style="padding: 4.375rem 0px 3.125rem; background: linear-gradient(45deg, rgb(0, 164, 189), rgb(0, 189, 165));">
        <div class="container">
            <h2 class="h1 text-center font-weight-bold mb-5">People are talking</h2>
            <div class="justify-content-center row">
                <iframe class="p-3 col-6" title="Foodlaner 1"
                    src="https://www.youtube.com/embed/1DtpVa9sYP4" width="560" height="315" frameborder="0"
                    allowfullscreen=""></iframe>
                    <iframe class="p-3 col-6" title="Foodlaner 2"
                    src="https://www.youtube.com/embed/-9CPDNJpGMw" width="560" height="315" frameborder="0"
                    allowfullscreen=""></iframe>
                    <iframe class="p-3 col-6" title="Foodlaner 3"
                    src="https://www.youtube.com/embed/zL9C6LEyIUM" width="560" height="315" frameborder="0"
                    allowfullscreen=""></iframe>
                    <iframe class="p-3 col-6" title="Foodlaner 4"
                    src="https://www.youtube.com/embed/JQ_oDYD3ybk" width="560" height="315" frameborder="0"
                    allowfullscreen=""></iframe></div>
        </div>
    </section>
    <section class="" style="padding: 4.375rem 0px 3.125rem;">
        <div class="container">
            <h2 class="font-weight-bold mb-5">Join our Team and Start Selling Homemade Food</h2>
            <div class="faq-items">
                <div class="faq-item mb-5">
                    <h5>Who is our ideal team member?</h5>
                    <p style="width: 85%;">We are following 2 simple principles. #1 Serve hygienic tasty homemade food
                        #2 Empower food passionate woman If food is your craft and you don’t settle with average taste…
                        you are someone who cooks from the heart… then you are in the right place, we are waiting for
                        you to join our food passionate family. Lets thrive together!</p>
                </div>
                <div class="faq-item mb-5">
                    <h5>Who is a foodlancer?</h5>
                    <p style="width: 85%;">You probably have heard about freelancer right! <br>
                        A foodlancer is self employed person who offers his food services to any company or individuals
                        he/she wants to. All women who have a passion of cooking and want to make money from home via
                        lunch.pk are referred as foodlancers.</p>
                </div>
                <div class="faq-item mb-5">
                    <h5>How a woman can sell food online using lunch.pk?</h5>
                    <p style="width: 85%;">The hardest part of any business is selling and getting customers. No matter
                        what you do and wherever you are if you have no sales you will be out of business soon.
                        at lunch.pk we took this burden off your shoulders. We provide our foodlancer women guaranteed
                        customers near their location. you get guaranteed sale/money into your pocket using our homemade
                        food portal. </p>
                </div>
                <div class="faq-item mb-5">
                    <h5>How much a foodlancer can make money in a month?</h5>
                    <p style="width: 85%;">Our foodlancers have 3 levels , your level will be decided as per customer
                        feedback. Please note that, we do not allow restaurants and hotels to register even you pay FEE.
                    </p>
                </div>
                <div class="faq-item mb-5">
                    <h5>How to apply as a foodlancer?</h5>
                    <p style="width: 85%;">Joining lunch.pk is a simple 5 step process. <br>
                        1- Fill in the register form <br>
                        2- Send us 3 snaps of your kitchen from different angles on WhatsApp at +92 335 5517720 &lt;br
                        /&gt;
                        3- Let our team test 3 different demo dishes and visit your kitchen <br>
                        4- Ability to use facebook messenger, WhatsApp and emails <br>
                        5- Have a rider available either from your family or 3rd party companies to deliver food within
                        5-10 KMs of your area.</p>
                </div>
                <div class="faq-item mb-5">
                    <h5>How to get quick approval as a food lancer?</h5>
                    <p style="width: 85%;">If you’ll follow and complete the above 5 steps, you will get quick approval.
                    </p>
                </div>
                <div class="faq-item mb-5">
                    <h5>How to not get suspended or rejected at lunch.pk?</h5>
                    <p style="width: 85%;">Since we are on a mission to serve healthy hygienic food. We do not tolerate
                        any complaints related to hygiene. We also do not appreciate negating our processes and
                        policies.</p>
                </div>
                <div class="faq-item mb-5">
                    <h5>What is lunch.pk fee or charges?</h5>
                    <p style="width: 85%;"> Not only we want to serve the best healthy homemade food, But we also have a
                        mission to empower women with true home based business. We believe we can only grow by helping
                        you grow at a massive level. <br> We have RS 2000/- joining fee when you are approved.
                        We do not offer FREE membership as FREE is never appreciated and this small fee is to filter out
                        non serious candidates. We charge you 15% of the gross sale provided to you by lunch.pk We
                        charge you 15% of the gross sale provided to you by lunch.pk </p>
                </div>
                <div class="faq-item mb-5">
                    <h5>How to qualify as professional or an expert level foodlancer?</h5>
                    <p style="width: 85%;">All foodlancers with 95% plus positive feedback and having ability to retain
                        their customers for long term (3-6 months+) get promoted to an expert level. at an expert level
                        you get more sales and customers by the company.</p>
                </div>
                <div class="faq-item mb-5">
                    <h5>How helpful is lunch.pk for women?</h5>
                    <p style="width: 85%;">Since we are on a mission to empower women. We are putting our best efforts
                        to make you grow and succeed. For example, most of the running businesses charge you heavy
                        upfront franchise fee plus a monthly fee. <br> Additional to initial investment they
                        charge you minimum 25% to 50% of the sale with no guarantee of any sales amount. at lunch.pk, we
                        are looking to create win-win relationships and help you grow fast. For the same reasons there
                        is no upfront HUGE Franchise deposit and security deposits. You can setup your own account by
                        paying RS 2000 per month and 15% of the gross sale.</p>
                </div>
                <div class="faq-item mb-5">
                    <h5>What are your future plans?</h5>
                    <p style="width: 85%;">Our mission to facilitate you as much as we can. in our future plan, we will
                        facilitate with you with grocery at wholesale price at your doorstep as well as rider resources
                        available 24/7.</p>
                </div>
                <div class="faq-item mb-5">
                    <h5>Where to send our suggestions?</h5>
                    <p style="width: 85%;">We highly welcome your suggestions and love positive feedback. Feel free to
                        send your suggestions and feedback at info@lunch.pk or by the contact us form.</p>
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock content %}