<!-- Footer -->
<footer id="main-footer">
    <div class="container">
        <div class="row">
            <div class="mb-3 col-md-3">
                <h5 class="footer-col-title">Useful Links</h5><a class="footer-links" href="/">Home</a><a
                    class="footer-links" href="/food-deals">Daily Menu</a><a class="footer-links"
                    href="/frozen-food">Frozen Food</a><a class="footer-links"
                    href="/make-money/become-a-foodlancer">Become a Foodlancer</a><a class="footer-links"
                    href="/contact-us">Contact</a>
            </div>
            <div class="mb-3 col-md-3">
                <h5 class="footer-col-title">Monthly Menus</h5><a class="footer-links"
                    href="/monthly-menu/economy-menu">Economy Menu</a><a class="footer-links"
                    href="/monthly-menu/mazedar-menu">Mazedar Menu</a><a class="footer-links"
                    href="/monthly-menu/executive-menu">Executive Menu</a><a class="footer-links"
                    href="/monthly-menu/corporate-menu">Corporate Menu</a><a class="footer-links"
                    href="/monthly-menu/2-time-meal">2 Time Meal</a>
            </div>
            <div class="mb-3 col-md-3">
                <h5 class="footer-col-title">Daily Deals</h5><a class="footer-links"
                    href="/food-deals/chickenbiryani">Chicken Biryani</a><a class="footer-links"
                    href="/food-deals/mutton-karahi">Mutton Karahi</a><a class="footer-links"
                    href="/food-deals/dalchawal">Daal Chawal</a><a class="footer-links"
                    href="/food-deals/chicken-korma">Chicken Korma</a><a class="footer-links"
                    href="/food-deals/chicken-jalfrezi">Chicken Jalfrezi w Rice</a>
            </div>
            <div class="mb-3 col-md-3">
                <h5 class="footer-col-title">Frozen Foods</h5><a class="footer-links"
                    href="/frozen-food/seekh-kebab">Seekh Kebab</a><a class="footer-links"
                    href="/frozen-food/chicken-nuggets">Chicken Nuggets</a><a class="footer-links"
                    href="/frozen-food/chicken-chinese-samosa">Chicken Chinese Samosa</a><a class="footer-links"
                    href="/frozen-food/chicken-kofta">Chicken Kofta</a><a class="footer-links"
                    href="/frozen-food/chicken-chinese-rolls">Chicken Chinese Rolls</a>
            </div>
        </div>
        <div class="mb-3" style="background:#7c98b6;height:1px;width:98%"></div>
        <div class="d-md-flex d-sm-block align-items-centet"><a class="footer-links mr-4" href="/terms-of-service">Terms of
                service</a><a class="footer-links" href="/privacy-policy">Privacy Policy</a>
            <div class="ml-auto">
                <p class="mr-4" style="font-size:12px;color:#cbd6e2">Copyright © 2021 Lunch.pk All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->