<style>
  .nav-link {
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
    padding-left: 1rem;
    padding-right: 1rem;

  }

  .navbar-brand {
    margin-right: 3rem;
  }

  .main-nav .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
</style>

<nav class="navbar main-nav sticky-top navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://www.lunch.pk/_next/image?url=%2Fassets%2Fimg%2Flogo.png&w=128&q=75" alt="Lunch.pk">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown dmenu">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Monthly Menu
          </a>
          <div class="dropdown-menu sm-menu">
            <a class="dropdown-item" href="/monthly-menu/1/">Economy Menu</a>
            <a class="dropdown-item" href="/monthly-menu/2/">Mazedar Menu</a>
            <a class="dropdown-item" href="/monthly-menu/3/">Executive Menu</a>
            <a class="dropdown-item" href="/monthly-menu/4/">Weight Loss Diet Menu</a>
            <a class="dropdown-item" href="/monthly-menu/5/">Lunch + Dinner (2 Time Meal)</a>
            <a class="dropdown-item" href="/monthly-menu/6/">Corporate Menu (10 Persons)</a>
            <a class="dropdown-item" href="/monthly-menu/7/">High Blood Pressure Menu</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/food-deals/">Daily Menu</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/frozen/">Frozen Food</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/make-money/become-a-foodlancer/">Become a Foodlancer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
      </ul>

    </div>
  </div>
</nav>