{% extends "base.html" %}
{% load static %}
{% block content %}


<section
    style="background: none 0% 0% repeat scroll rgb(246, 244, 240); padding: 7rem 0px; color: rgb(33, 37, 41); position: relative;">
    <div class="container">
        <div class="mx-auto col-lg-9">
            <h1 class="font-weight-bold text-center mb-4">Thank You For Your Order</h1>
            <div class="bg-white mx-auto my-4 text-center rounded px-2 py-3 mb-4" style="max-width: 290px;">
                <h6 class="text-muted mb-2">Your confirmation code is:</h6>
                <h2 class="font-weight-bold">{{ code }}</h2>
            </div>
            <h5 class="text-center mb-4" style="font-weight: 600;">Please Whatsapp your confirmation code at +92 333
                5189005 to complete your order</h5>
            <p class="">Note: Lunch.pk is not responsible for payment in cash or direct to Anyone. We only accept bank
                transfer <br> as the mentioned payment method on your invoice</p>
        </div>
    </div>
</section>


{% endblock content %}