{% extends "lpk.html" %}
{% load static %}

{% block content %}


<section id="main-showcase"
    style="background:linear-gradient(to top right,#fef8f0,#fff3ee,#fff1ee);padding:4rem 0 4rem;color:#212529;position:relative">
    <div class="container">
        <div class="row">
            <div class="text-md-left align-self-center col-lg-6">
                <div class="showcase-content">
                    <h1 class="title mb-4" style="font-weight:800;font-size:260%">Homemade Food by Families Near You
                    </h1>
                    <div class="subtitle mb-4" style="font-size:18px;line-height:30px">
                        <p>At Lunch.pk, You get homemade food by local families $near you. We provide <strong>REAL
                                HYGIENIC</strong> Homemade food online delivery.
                            Available in Islamabad, Lahore, Karachi and more
                        </p>
                    </div>
                    <a class="cta-btn cta-btn-primary cta-btn-lg see-menu-btn" href="/monthly-menu">See Our Menu</a>
                    <a class="cta-btn cta-btn-primary cta-btn-dark cta-btn-lg see-menu-btn d-lg-none d-sm-inline-block" target="_blank"
                        href="https://wa.me/923335189005?text=I\%27m%20interested%20in%20your%20food">WhatsApp Now</a>
                </div>
            </div>
            <div class="text-center col-lg-6">
                <div class="d-none d-lg-block showcase-img">
                    <div
                        style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%"><img
                                style="max-width:100%;display:block;margin:0;border:none;padding:0"
                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=">
                        </div>
                        <img alt="Homemade Food by Families Near You"
                            src="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fhero-char.webp&w=640&q=75"
                            style="position:absolute; top:0; left:0; bottom:0; right:0; box-sizing:border-box; padding:0; border:none; margin:auto; display:block; width:0; height:0; min-width:100%; max-width:100%; min-height:100%; max-height:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-center " style="padding:4.375rem 0 3.125rem;background:#f5f8fa">
    <div class="container">
        <h2 class="font-weight-bold">Order in <span class="text-color-primary">3 Simple Steps</span></h2>
        <div class="mt-5 row">
            <div class="mb-5 col-lg-4">
                <div class="step-card bg-white mx-auto p-4 position-relative rounded"
                    style="width:90%;height:100%;box-shadow:0 8px 30px -5px rgba(51,71,91,0.12)">
                    <h2 class="font-weight-bold text-success" style="position:absolute;top:8px;left:20px">1</h2>
                    <div
                        style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%"><img
                                style="max-width:100%;display:block;margin:0;border:none;padding:0" alt=""
                                aria-hidden="true"
                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzAiIGhlaWdodD0iMTA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==">
                        </div><img alt="Choose a Menu"
                            src="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fmenu-icon.svg&w=96&q=75"
                            decoding="async" data-nimg="intrinsic" class="mb-3"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"><noscript><img
                                alt="Choose a Menu"
                                src="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fmenu-icon.svg&w=96&q=75"
                                decoding="async" data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                class="mb-3" loading="lazy" /></noscript>
                    </div>
                    <h5 class="mb-0" style="font-weight:600">Choose a Menu</h5>
                </div>
            </div>
            <div class="mb-5 col-lg-4">
                <div class="step-card bg-white mx-auto p-4 position-relative rounded"
                    style="width:90%;height:100%;box-shadow:0 8px 30px -5px rgba(51,71,91,0.12)">
                    <h2 class="font-weight-bold text-success" style="position:absolute;top:8px;left:20px">2</h2>
                    <div
                        style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%"><img
                                style="max-width:100%;display:block;margin:0;border:none;padding:0" alt=""
                                aria-hidden="true"
                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzAiIGhlaWdodD0iMTA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==">
                        </div><img alt="Place your Order"
                            src="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fclipboard.svg&w=96&q=75"
                            decoding="async" data-nimg="intrinsic" class="mb-3"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"><noscript><img
                                alt="Place your Order"
                                src="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fclipboard.svg&w=96&q=75"
                                decoding="async" data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                class="mb-3" loading="lazy" /></noscript>
                    </div>
                    <h5 class="mb-0" style="font-weight:600">Place your Order</h5>
                </div>
            </div>
            <div class="mb-5 col-lg-4">
                <div class="step-card bg-white mx-auto p-4 position-relative rounded"
                    style="width:90%;height:100%;box-shadow:0 8px 30px -5px rgba(51,71,91,0.12)">
                    <h2 class="font-weight-bold text-success" style="position:absolute;top:8px;left:20px">3</h2>
                    <div
                        style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%"><img
                                style="max-width:100%;display:block;margin:0;border:none;padding:0" alt=""
                                aria-hidden="true"
                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzAiIGhlaWdodD0iMTA1IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==">
                        </div><img alt="Enjoy your Food"
                            src="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fyummy-icon.svg&w=96&q=75"
                            decoding="async" data-nimg="intrinsic" class="mb-3"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"><noscript><img
                                alt="Enjoy your Food"
                                src="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fyummy-icon.svg&w=96&q=75"
                                decoding="async" data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                class="mb-3" loading="lazy" /></noscript>
                    </div>
                    <h5 class="mb-0" style="font-weight:600">Enjoy your Food</h5>
                </div>
            </div>
        </div>
        <p class="font-weight-bold">Payment: Bank transfer (recommended), Cash to Rider, EasyPaisa</p>
    </div>
</section>

<section class="text-white" style="padding:4.375rem 0 3.125rem;background:linear-gradient(45deg,#00a4bd,#00bda5)">
    <div class="container">
        <h2 class="font-weight-bold mb-4">Say Good Bye To Low Quality Food.</h2>
        <p style="font-weight:500">WE SAVE YOU FROM UNHEALTHY TOXIC FOOD CHOICES BY SERVING YOU REAL <br>HEALTHY
            HOMEMADE FOOD AT YOUR DOORSTEP.</p>
        <p style="font-weight:500">Not only health is most neglected aspect of our life, but we have tons of unhealthy
            toxic food choices around us, <br> making it hard to live a healthy life. That is why Obesity, diabetes and
            heart diseases have become <br> so common in our lives.</p>
        <p class="font-weight-bold my-4">NOT EVERYONE VALUE HYGIENIC FOOD… YOU DO!</p><a
            class="cta-btn cta-btn-lg cta-btn-primary" href="/monthly-menu">See our Menu</a>
    </div>
</section>

<section class="" style="padding:4.375rem 0 3.125rem">
    <div class="container">
        <div class="row">
            <div class="text-start align-self-center justify-content-center col-lg-4 col-md-12">
                <div class="text-center mb-4">
                    <div
                        style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%"><img
                                style="max-width:100%;display:block;margin:0;border:none;padding:0" alt=""
                                aria-hidden="true"
                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwIiBoZWlnaHQ9IjI1MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=">
                        </div><img alt="corporate package"
                            src="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Foffice-guys.webp&amp;w=640&amp;q=75"
                            decoding="async" data-nimg="intrinsic"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                            srcset="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Foffice-guys.webp&amp;w=256&amp;q=75 1x, https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Foffice-guys.webp&amp;w=640&amp;q=75 2x"><noscript><img
                                alt="corporate package"
                                srcSet="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Foffice-guys.webp&amp;w=256&amp;q=75 1x, https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Foffice-guys.webp&amp;w=640&amp;q=75 2x"
                                src="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Foffice-guys.webp&amp;w=640&amp;q=75"
                                decoding="async" data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                loading="lazy" /></noscript>
                    </div>
                </div>
            </div>
            <div class="align-self-center text-center text-lg-left col-lg-8 col-md-12">
                <h2 class="font-weight-bold mb-4">Order Homemade Food For Your Office</h2>
                <p class="mb-4">We ensure quality of food and services. we hold your payment in
                    <!-- --> <br>company account until you are delivered complete days and <br>satisfied with food
                    provided.
                </p><a class="cta-btn cta-btn-lg cta-btn-primary" href="/monthly-menu/corporate">Corporate Menu</a>
            </div>
        </div>
    </div>
</section>

<section class="text-center text-white" style="padding:4.375rem 0 3.125rem;background:#425b76">
    <div class="container">
        <h2 class="mb-5 font-weight-bold">Our Popular Monthly Menus</h2>
        <div class="row">
            <div class="mb-4 col-lg-4 col-md-6">
                <div class="home-menu-card text-dark rounded p-4" style="background:#f6f4f0">
                    <h4 class="font-weight-bold mb-2">Mazedar Menu</h4>
                    <p class="mb-2" style="font-weight:500">For 1 persons (1 time meal) <br> Mon - Fri (22 days a month)
                    </p>
                    <h4 class="font-weight-bold mb-3">PKR 5000/-</h4><a class="cta-btn cta-btn-primary"
                        href="/monthly-menu/mazedar">See Menu</a>
                </div>
            </div>
            <div class="mb-4 col-lg-4 col-md-6">
                <div class="home-menu-card text-dark rounded p-4" style="background:#f6f4f0">
                    <h4 class="font-weight-bold mb-2">Economy Menu</h4>
                    <p class="mb-2" style="font-weight:500">For 2 persons (1 time meal) <br> Mon - Fri (22 days a month)
                    </p>
                    <h4 class="font-weight-bold mb-3">PKR 9500/-</h4><a class="cta-btn cta-btn-primary"
                        href="/monthly-menu/economy">See Menu</a>
                </div>
            </div>
            <div class="mb-4 col-lg-4 col-md-12">
                <div class="home-menu-card text-dark rounded p-4" style="background:#f6f4f0">
                    <h4 class="font-weight-bold mb-2">Executive Menu</h4>
                    <p class="mb-2" style="font-weight:500">For 1 person (1 time meal) <br> Mon - Sat (26 days a month)
                    </p>
                    <h4 class="font-weight-bold mb-3">PKR 7500/-</h4><a class="cta-btn cta-btn-primary"
                        href="/monthly-menu/executive/">See Menu</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="padding:4.375rem 0 3.125rem">
    <div class="container">
        <div class="row">
            <div class="align-self-center col-lg-8 col-md-12">
                <h2 class="font-weight-bold mb-4">Do You Love <span class="text-color-primary">Cooking?</span></h2>
                <p>Join us as a foodlancer and start selling homemade food online.</p>
                <p>Lunch.pk is a true home based business that empowers food passionate families by giving them an
                    opportunity to sell homemade food on the internet. Join lunch.pk family today and start making money
                    right from your home kitchen.</p><a class="cta-btn cta-btn-lg cta-btn-primary"
                    href="/make-money/apply-for-foodlancer">Apply Now</a>
            </div>
            <div class="col-lg-4 d-none d-sm-none d-lg-flex">
                <div class="text-center">
                    <div
                        style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                        <div style="box-sizing:border-box;display:block;max-width:100%"><img
                                style="max-width:100%;display:block;margin:0;border:none;padding:0" alt=""
                                aria-hidden="true"
                                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwIiBoZWlnaHQ9IjQwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiLz4=">
                        </div><img alt="make money with lunch.pk"
                            src="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fmake-money.webp&amp;w=828&amp;q=75"
                            decoding="async" data-nimg="intrinsic" class="home-make-money-image"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                            srcset="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fmake-money.webp&amp;w=640&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimg%2Fmake-money.webp&amp;w=828&amp;q=75 2x"><noscript><img
                                alt="make money with lunch.pk"
                                srcSet="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fmake-money.webp&amp;w=640&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimg%2Fmake-money.webp&amp;w=828&amp;q=75 2x"
                                src="https://lunch.pk/_next/image?url=%2Fassets%2Fimg%2Fmake-money.webp&amp;w=828&amp;q=75"
                                decoding="async" data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                class="home-make-money-image" loading="lazy" /></noscript>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="padding:4.375rem 0 3.125rem;background:#f5f8fa">
    <div class="container">
        <h2 class="h1 text-center font-weight-bold mb-4">People are talking</h2>
        <div class="justify-content-center row">
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>Its been a week I am using their service and I have found them to be extremely punctual,
                            professional and accommodating towards their customers. The food tastes great, just like
                            homemade food, it's clean. Highly recommended!</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Muhammad Usman</h5>
                    </div>
                </div>
            </div>
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>I'm using their service since last 3 months and found them best at service and food quality.
                            All i needed was the quality and hygienic food, which mash Allah i found in their food. So
                            they are deserved to be appreciated. Love the service.</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Arsalan Ajmal</h5>
                    </div>
                </div>
            </div>
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>Just started availing their lunch service and found it up to my mark. The taste was amazing,
                            food sounded hygienic and was delivered on time. Keep it up</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Shahzeb Khan</h5>
                    </div>
                </div>
            </div>
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>I have subscribed to a custom monthly package. The food is tasty (mostly, I'm a bit choosy).
                            Their behavior and care for clients is really what I was sold at. Especially people who are
                            dealing with Lahore's section are really cool!</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Ahmed Awais</h5>
                    </div>
                </div>
            </div>
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>Ordered lunch for my staff today for the first time. Superb Khana and very hygienic packing!
                            Satisfied!!!!</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Huma Zarar</h5>
                    </div>
                </div>
            </div>
            <div class="align-self-center col-lg-4 col-md-6">
                <div class="Testimonial_testimonial-card__11rMe">
                    <div class="Testimonial_text__3vCGc">
                        <p>First experience with lunch.pk was good. The family cooked meals with specific instructions
                            for my elderly diabetic father. Second experience is not at par with the first. Response
                            from lunch.pk is slow and food delivered is low quality and very expensive.</p>
                    </div>
                    <div class="Testimonial_meta__eADTs">
                        <h5>Zahra Ambreen</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}